*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
:root{
    --main-color: #ffd6dc;
    --main-light: #fdf0f2;
    --main-dark: #f74b65;
    --product-bg-color: #f8f8f8;
}

/* header */
.header-top{
    max-width: 1100px;
    width: 90%;
    margin: auto;
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.header-fix{
    background-color: #ffffff;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 101;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
    animation: navanimation 0.6s;
}
header.header-fix .header-top{
    border-bottom: 1px solid #f7f7f7;
    
}
@keyframes navanimation {
    0%{
        top: -100%;
    }
    100%{
        top: 0%;
    }
    
}
.nav-location a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-location a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 0.8rem;
    font-family: "Poppins", serif;
    font-weight: 500;
}
.nav-location a svg{
    fill: var(--main-dark);
    margin-right: 10px;
}
.logo{
    max-width: 180px;
    max-height: 40px;
    display: flex;
    display: block;
    margin-left: 40.3%;
    position: absolute;
    
}
.logo img{
    max-height: 40px;
    width: 70%;
    height: 100px;
    object-fit: contain;
    object-position: center;
    
}
.nav-btns{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 25px;
   
}
.nav-btns a svg{
    fill: #3f3f3f;
    height: 18px;
    width: 20px;
}
.nav-cart{
    position: relative;
}
.nav-cart span{
    position: absolute;
    color: #ffffff;
    background-color: var(--main-dark);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    font-weight: 600;
    right: -8px;
    top: -12px;
}
/* search */
.searchform {
    margin-left: -70px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border-radius: 50px;
    
    padding: 3px;
}

.search-input {
    position: absolute;
    top: -5px;
    left: 5px;
    width: 100%;
    height: 40px;
    line-height: 25px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 0.9em;
    border-radius: 50px;
    padding: 0 15px;
    border: 1px solid #868686;
}

.fa {
    box-sizing: border-box;
    padding: 8px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #3f3f3f;
    text-align: center;
    font-size: 0.9em;
    transition: all 0.5s;
}

.searchform:hover {
    width: 300px;
    cursor: pointer;
}

.searchform:hover .search-input {
    display: block;
}

.searchform:hover .fa {
    background: var(--main-dark);
    color: white;
}

/* navigation */
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    padding: 20px 0px;
    z-index: 101;
    position: relative;
}
.menu{
    display: flex;
    align-items: center;
    margin-top: -40px;
}
.menu li a{
    margin: 0px 15px;
    color: #000000;
    letter-spacing: 0.3px;
    font-weight: 500;
    font-family: "Poppins", serif;
    font-size: 0.8rem;
    transition: all ease 0.3s;
}
.menu li a:hover{
    color: var(--main-dark);
}
.menu li{
    position: relative;
}
/* occasions dropdown */
.dropdown-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    transition: all ease 0.3s;
}

.dropdown-button:hover .dropdown-arrow {
    transform: rotate(180deg);
    fill: #f74b65;
}

.dropdown-arrow {
    font-size: 14px;
    transform: rotate(0deg);
    transition: transform 0.3s ease, fill 0.3s ease;
}

.dropdown-content {
    display: block;
    opacity: 0;
    transform: translateY(-10px);
    position: absolute;
    background-color: var(--main-light);
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    visibility: hidden;
}

.dropdown-content li a {
    color: #333;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #f3f3f3;
    text-decoration: none;
    border-radius: 5px;
}

.dropdown-content li a:last-child {
    border: none;
}

.dropdown-content a:hover {
    background-color: #f9f9f9;
}

.menu-container:hover .dropdown-content {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.dropdown-button:focus {
    outline: 2px solid #f74b65;
    outline-offset: 2px;
}

.dropdown-content a:focus {
    background-color: #f9f9f9;
    outline: none;
}

/* login Signup */
.form{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 102;
}
.login-form,
.sign-up-form
{
    max-width: 420px;
    width: 100%;
    padding: 20px 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    animation: fade 0.6s;
}
.login-form form,
.sign-up-form form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form-cancel{
    position: absolute;
    right: 20px;
    top: 10px;
    fill: #868686;
}
.login-form strong,
.sign-up-form strong
{
    color: #272727;
    font-size: 2rem;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.login-form input,
.sign-up-form input
{
    width: 90%;
    height: 45px;
    margin: 6px 0px;
    padding: 0px 10px;
    border: 1px solid rgba(0,0,0,0.1);
    outline: none;
    border-radius: 7px;
}
.login-form input::placeholder,
.sign-up-form input::placeholder
{
    color: rgba(0, 0, 0, 0.5);
}
.login-form input[type="submit"],
.sign-up-form input[type="submit"]
{
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 3px;
    background-color: var(--main-dark);
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
}
.form-btns{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    grid-gap: 10px;
}
.form-btns a{
    color: #4d4d4d;
    font-size: 0.9rem;
}
.form-btns a:hover{
    color: var(--main-dark);
    text-decoration: underline;
}
.form,
.login-form,
.sign-up-form{
    display: none;
}
.login-active,
.login-active .login-form,
.sign-up-active,
.sign-up-active .sign-up-form
{
    display: flex;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* main */
.main-containt
{
    background-image: url(../images/header2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    height: 250px;
}
.main-content-text h1{
    color: #540f00;
    font-size: 3rem;
    padding: 50px;
    margin-left: 20%;
    font-family: "Playwrite AU SA", serif;
    font-weight: 500;
}
/* popular */
#popular{
    max-width: 1100px;
    width: 90%;
    margin: 50px auto;
  }
  .popular-dress-contianer{
      display: grid;
      
      grid-gap: 50px;
      margin-top: 20px;
      align-items: flex-start;
  }
  .popular-product-container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 40px;
  }
  .product-box{
      display: flex;
      flex-direction: column;
      width: 100%;
  }
  .product-box-img {
    width: 100%;
    max-height: 400px;
    height: 100%;
    position: relative;
    transition: all ease 0.3s;
    
  }

  .product-box-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    border-radius: 10px; 
    height: 100%;
    object-fit: cover
  }


  .product-box-img:hover{
      opacity: 0.8;
  }

  .product-box-img span{
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 0.8rem;
      color: #ffffff;
      background-color: var(--main-dark);
      font-size: 0.8rem;
      border-radius: 3px;
      letter-spacing: 0.2px;
      padding: 2px 10px;
  }
  .product-box-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .product-box-text .product-text-title{
      color: #000000;
      font-size: 1rem;
      font-weight: 600;
      margin-top: 10px;
  }
  .product-box-text span{
      color: var(--main-dark);
      font-size: 0.9rem;
      font-weight: 500;
      margin: 5px;
  }
  .product-box-text span del{
      color: #696969;
  }
  .product-box-text .product-cart-btn{
      border-top: 1px solid #e9e9e9;
      width: 100%;
      padding: 10px;
      color: #1d1d1d;
      font-size: 0.9rem;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all ease 0.3s;
  }
  .product-box-text .product-cart-btn svg{
      height: 16px;
      width: 20px;
      margin-right: 5px;
  }
  .product-box-text .product-cart-btn:hover{
      background-color: var(--main-dark);
      border-top: 1px solid transparent;
      color: #ffffff;
      fill: #ffffff;
  }
  /* meaning-to-buy-flowers */
  .meaning-to-buy{
    max-width: 1100px;
    width: 90%;
    margin: 50px auto;
    border: 1px solid silver;
    padding: 30px;
    border-radius: 10px;
    height: 350px;
  }
  .meaning-to-buy h1{
    padding: 20px 20px;
    font-family: "Playwrite AU SA", serif;
  }
  .meaning-to-buy p{
    padding: 0px 20px;
  }

























  /* footer */
footer{
    width: 100%;
}
.footer-container{
    max-width: 1200px;
    width: 90%;
    margin: 0px auto;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer-company-box,
.footer-subscribe
{
    max-width: 330px;
}
.footer-company-box .footer-logo{
    max-width: 150px;
    height: 45px;
    display: flex;
}
.footer-company-box .footer-logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    max-height: 45px;
}
.footer-company-box p,
.footer-subscribe p
{
    color: #585858;
    margin: 5px 0px;
}
.footer-social{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.footer-social a{
    margin-top: 10px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e9e9e9;
    fill: #333333;
    font-size: 0.9rem;
}
.footer-social a:hover{
    fill: #ffffff;
    background-color: var(--main-dark);
    border: 1px solid transparent;
}
.footer-link-box strong,
.footer-subscribe strong
{
    color: #3b3b3b;
    font-size: 1.2rem;
    font-weight: 600;
}
.footer-link-box ul{
    margin-top: 5px;
}
.footer-link-box ul li a{
    color: #585858;
    margin-bottom: 4px;
    display: flex;
    transition: all ease 0.3s;
}
.footer-link-box ul li a:hover{
    color: var(--main-dark);
}
.subscribe-box{
    width: 100%;
    border: 1px solid #dadada;
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 10px;
}
.subscribe-box input{
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0px 15px;
}
.subscribe-box button{
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--main-dark);
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    height: 40px;
    padding: 0px 20px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e9e9e9;
    padding: 20px 0px;
    width: 98%;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: auto;
    grid-gap: 10px;
}
.footer-bottom span{
    color: #252525;
    font-size: 0.9rem;
}


